<div class="book-navigation-container">
    <div class="book-viewer-container">
        <img src="assets/icons/left.png" alt="Previous Page" class="nav-button left-button" (click)="previousPage()">

        <div id="viewer" class="viewer">
            <div class="page-number left-page-number">1</div> <!-- Left page number -->
            <div class="page-number right-page-number">2</div> <!-- Right page number -->
        </div>

        <img src="assets/icons/right.png" alt="Next Page" class="nav-button right-button" (click)="nextPage()">
    </div>
</div>