<div class="book-container">
    <div class="book">
        <div id="viewer-1" class="epub-viewer left-page"></div>
        <div class="spine"></div>
        <div id="viewer-2" class="epub-viewer right-page"></div>
    </div>
    <div id="page-counter" class="page-counter"></div>
    <button id="prev-btn" class="nav-button" (click)="previousPage()">
        <i class="fas fa-arrow-left"></i>
    </button>
    <button id="next-btn" class="nav-button" (click)="nextPage()">
        <i class="fas fa-arrow-right"></i>
    </button>
</div>